<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <img class="guitar-icon" src="img/guitar-icon.png" alt="icon">
        <a href="http://127.0.0.1:5500/front-page.html">Home</a>
        <a href="http://127.0.0.1:5500/editor.html">Create Tab</a>
        <a href="#">Log out</a>
    </div>
    <div class="page">
        <h2 class="profile-page-title">About me</h2>
        <div class="information-wrapper">
            <table class="information">
                <tr>
                    <td class="information-bold">Username:</td>
                    <td>ProGuitarist_13</td>
                </tr>
                <tr>
                    <td class="information-bold">E-mail Address:</td>
                    <td>proguitarist13@gmail.com</td>
                </tr>
                <tr>
                    <td class="information-bold">Password:</td>
                    <td><a href="#">Change Password</a></td>
                </tr>
            </table>
        </div>
        <h2 class="profile-page-title">My tabs</h2>
        <div class="tab-list">
            <div class="tab-card" href="#">
                <div class="tab-card-front">
                    <h2>Pieces</h2>
                    <p class="tab-performer">Sum41</p>
                    <p>Tuning: Standard</p>
                    <div class="tab-card-response-wrapper">
                        <div class="tab-card-likes">
                            <img class="tab-card-like-icon" src="img/heart.png" alt="tab-card-likes">
                            <p>12</p>
                        </div>
                        <div class="tab-card-comments">
                            <img class="tab-card-comment-icon" src="img/comment.png" alt="tab-card-comments">
                            <p>2</p>
                        </div>
                    </div>
                </div>
                <div class="tab-card-back">
                    <a class="btn tab-btn" href="#">Edit</a>
                    <a class="btn tab-btn red-btn" href="#">Delete</a>
                </div>
            </div>
            <div class="tab-card" href="#">
                <div class="tab-card-front">
                    <h2>One</h2>
                    <p class="tab-performer">Metallica</p>
                    <p>Tuning: Standard</p>
                    <div class="tab-card-response-wrapper">
                        <div class="tab-card-likes">
                            <img class="tab-card-like-icon" src="img/heart.png" alt="tab-card-likes">
                            <p>12</p>
                        </div>
                        <div class="tab-card-comments">
                            <img class="tab-card-comment-icon" src="img/comment.png" alt="tab-card-comments">
                            <p>2</p>
                        </div>
                    </div>
                </div>
                <div class="tab-card-back">
                    <a class="btn tab-btn" href="#">Edit</a>
                    <a class="btn tab-btn red-btn" href="#">Delete</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>