<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>

    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="header">
        <img class="guitar-icon" src="img/guitar-icon.png" alt="icon">
        <a href="http://127.0.0.1:5500/front-page.html">Home</a>
        <a href="http://127.0.0.1:5500/editor.html">Create Tab</a>
        <a href="http://127.0.0.1:5500/login.html">Login</a>
    </div>
    <div class="page form-page">
        <form class="form-wrapper" action="register">
            <label for="email">E-mail Address</label>
            <input type="email" id="email" placeholder="Enter E-mail Address">
            <label for="username">Username</label>
            <input type="text" id="username" placeholder="Enter Username">
            <label for="password">Password</label>
            <input type="password" id="password" placeholder="Enter Password">
            <label for="confirm">Confirm Password</label>
            <input type="password" id="confirm" placeholder="Confirm Password">
            <button type="submit">Register</button>
        </form>
    </div>
</body>
</html>